<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hci.dky.dao.AssessLibraryMapper" >
  <resultMap id="BaseResultMap" type="hci.dky.pojo.AssessLibrary" >
    <constructor >
      <idArg column="assess_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="assess_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="assess_des" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="assess_object" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="creator" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="begin_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="assess_state" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="is_model" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="index_list" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    assess_id, assess_name, assess_des, assess_object, creator, begin_time, assess_state, 
    is_model, index_list
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="hci.dky.pojo.AssessLibraryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from assess_library
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from assess_library
    where assess_id = #{assessId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from assess_library
    where assess_id = #{assessId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="hci.dky.pojo.AssessLibraryExample" >
    delete from assess_library
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="hci.dky.pojo.AssessLibrary" >
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into assess_library (assess_id, assess_name, assess_des, 
      assess_object, creator, begin_time, 
      assess_state, is_model, index_list
      )
    values (#{assessId,jdbcType=BIGINT}, #{assessName,jdbcType=VARCHAR}, #{assessDes,jdbcType=VARCHAR}, 
      #{assessObject,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{beginTime,jdbcType=TIMESTAMP}, 
      #{assessState,jdbcType=VARCHAR}, #{isModel,jdbcType=BIT}, #{indexList,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="hci.dky.pojo.AssessLibrary" >
    insert into assess_library
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="assessId != null" >
        assess_id,
      </if>
      <if test="assessName != null" >
        assess_name,
      </if>
      <if test="assessDes != null" >
        assess_des,
      </if>
      <if test="assessObject != null" >
        assess_object,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
      <if test="assessState != null" >
        assess_state,
      </if>
      <if test="isModel != null" >
        is_model,
      </if>
      <if test="indexList != null" >
        index_list,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="assessId != null" >
        #{assessId,jdbcType=BIGINT},
      </if>
      <if test="assessName != null" >
        #{assessName,jdbcType=VARCHAR},
      </if>
      <if test="assessDes != null" >
        #{assessDes,jdbcType=VARCHAR},
      </if>
      <if test="assessObject != null" >
        #{assessObject,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="assessState != null" >
        #{assessState,jdbcType=VARCHAR},
      </if>
      <if test="isModel != null" >
        #{isModel,jdbcType=BIT},
      </if>
      <if test="indexList != null" >
        #{indexList,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="hci.dky.pojo.AssessLibraryExample" resultType="java.lang.Integer" >
    select count(*) from assess_library
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update assess_library
    <set >
      <if test="record.assessId != null" >
        assess_id = #{record.assessId,jdbcType=BIGINT},
      </if>
      <if test="record.assessName != null" >
        assess_name = #{record.assessName,jdbcType=VARCHAR},
      </if>
      <if test="record.assessDes != null" >
        assess_des = #{record.assessDes,jdbcType=VARCHAR},
      </if>
      <if test="record.assessObject != null" >
        assess_object = #{record.assessObject,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.beginTime != null" >
        begin_time = #{record.beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.assessState != null" >
        assess_state = #{record.assessState,jdbcType=VARCHAR},
      </if>
      <if test="record.isModel != null" >
        is_model = #{record.isModel,jdbcType=BIT},
      </if>
      <if test="record.indexList != null" >
        index_list = #{record.indexList,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update assess_library
    set assess_id = #{record.assessId,jdbcType=BIGINT},
      assess_name = #{record.assessName,jdbcType=VARCHAR},
      assess_des = #{record.assessDes,jdbcType=VARCHAR},
      assess_object = #{record.assessObject,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      begin_time = #{record.beginTime,jdbcType=TIMESTAMP},
      assess_state = #{record.assessState,jdbcType=VARCHAR},
      is_model = #{record.isModel,jdbcType=BIT},
      index_list = #{record.indexList,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="hci.dky.pojo.AssessLibrary" >
    update assess_library
    <set >
      <if test="assessName != null" >
        assess_name = #{assessName,jdbcType=VARCHAR},
      </if>
      <if test="assessDes != null" >
        assess_des = #{assessDes,jdbcType=VARCHAR},
      </if>
      <if test="assessObject != null" >
        assess_object = #{assessObject,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="assessState != null" >
        assess_state = #{assessState,jdbcType=VARCHAR},
      </if>
      <if test="isModel != null" >
        is_model = #{isModel,jdbcType=BIT},
      </if>
      <if test="indexList != null" >
        index_list = #{indexList,jdbcType=VARCHAR},
      </if>
    </set>
    where assess_id = #{assessId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="hci.dky.pojo.AssessLibrary" >
    update assess_library
    set assess_name = #{assessName,jdbcType=VARCHAR},
      assess_des = #{assessDes,jdbcType=VARCHAR},
      assess_object = #{assessObject,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      assess_state = #{assessState,jdbcType=VARCHAR},
      is_model = #{isModel,jdbcType=BIT},
      index_list = #{indexList,jdbcType=VARCHAR}
    where assess_id = #{assessId,jdbcType=BIGINT}
  </update>
</mapper>