<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hci.dky.dao.SurveyLibraryMapper">
  <resultMap id="BaseResultMap" type="hci.dky.pojo.SurveyLibrary">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="survey_title" jdbcType="VARCHAR" property="surveyTitle" />
    <result column="survey_des" jdbcType="VARCHAR" property="surveyDes" />
    <result column="now_people_num" jdbcType="BIGINT" property="nowPeopleNum" />
    <result column="is_model" jdbcType="BOOLEAN" property="isModel" />
    <result column="assess_id" jdbcType="BIGINT" property="assessId" />
    <result column="plan_id" jdbcType="BIGINT" property="planId" />
    <result column="modelId" jdbcType="VARCHAR" property="modelid" />
    <result column="isExist" jdbcType="BOOLEAN" property="isexist" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, survey_title, survey_des, now_people_num, is_model, assess_id, plan_id, modelId, 
    isExist
  </sql>
  <select id="selectByExample" parameterType="hci.dky.pojo.SurveyLibraryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from survey_library
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from survey_library
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from survey_library
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="hci.dky.pojo.SurveyLibraryExample">
    delete from survey_library
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="hci.dky.pojo.SurveyLibrary" useGeneratedKeys="true">
    insert into survey_library (survey_title, survey_des, now_people_num, 
      is_model, assess_id, plan_id, 
      modelId, isExist)
    values (#{surveyTitle,jdbcType=VARCHAR}, #{surveyDes,jdbcType=VARCHAR}, #{nowPeopleNum,jdbcType=BIGINT}, 
      #{isModel,jdbcType=BOOLEAN}, #{assessId,jdbcType=BIGINT}, #{planId,jdbcType=BIGINT}, 
      #{modelid,jdbcType=VARCHAR}, #{isexist,jdbcType=BOOLEAN})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="hci.dky.pojo.SurveyLibrary" useGeneratedKeys="true">
    insert into survey_library
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="surveyTitle != null">
        survey_title,
      </if>
      <if test="surveyDes != null">
        survey_des,
      </if>
      <if test="nowPeopleNum != null">
        now_people_num,
      </if>
      <if test="isModel != null">
        is_model,
      </if>
      <if test="assessId != null">
        assess_id,
      </if>
      <if test="planId != null">
        plan_id,
      </if>
      <if test="modelid != null">
        modelId,
      </if>
      <if test="isexist != null">
        isExist,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="surveyTitle != null">
        #{surveyTitle,jdbcType=VARCHAR},
      </if>
      <if test="surveyDes != null">
        #{surveyDes,jdbcType=VARCHAR},
      </if>
      <if test="nowPeopleNum != null">
        #{nowPeopleNum,jdbcType=BIGINT},
      </if>
      <if test="isModel != null">
        #{isModel,jdbcType=BOOLEAN},
      </if>
      <if test="assessId != null">
        #{assessId,jdbcType=BIGINT},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=BIGINT},
      </if>
      <if test="modelid != null">
        #{modelid,jdbcType=VARCHAR},
      </if>
      <if test="isexist != null">
        #{isexist,jdbcType=BOOLEAN},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="hci.dky.pojo.SurveyLibraryExample" resultType="java.lang.Long">
    select count(*) from survey_library
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update survey_library
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.surveyTitle != null">
        survey_title = #{record.surveyTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.surveyDes != null">
        survey_des = #{record.surveyDes,jdbcType=VARCHAR},
      </if>
      <if test="record.nowPeopleNum != null">
        now_people_num = #{record.nowPeopleNum,jdbcType=BIGINT},
      </if>
      <if test="record.isModel != null">
        is_model = #{record.isModel,jdbcType=BOOLEAN},
      </if>
      <if test="record.assessId != null">
        assess_id = #{record.assessId,jdbcType=BIGINT},
      </if>
      <if test="record.planId != null">
        plan_id = #{record.planId,jdbcType=BIGINT},
      </if>
      <if test="record.modelid != null">
        modelId = #{record.modelid,jdbcType=VARCHAR},
      </if>
      <if test="record.isexist != null">
        isExist = #{record.isexist,jdbcType=BOOLEAN},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update survey_library
    set id = #{record.id,jdbcType=BIGINT},
      survey_title = #{record.surveyTitle,jdbcType=VARCHAR},
      survey_des = #{record.surveyDes,jdbcType=VARCHAR},
      now_people_num = #{record.nowPeopleNum,jdbcType=BIGINT},
      is_model = #{record.isModel,jdbcType=BOOLEAN},
      assess_id = #{record.assessId,jdbcType=BIGINT},
      plan_id = #{record.planId,jdbcType=BIGINT},
      modelId = #{record.modelid,jdbcType=VARCHAR},
      isExist = #{record.isexist,jdbcType=BOOLEAN}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="hci.dky.pojo.SurveyLibrary">
    update survey_library
    <set>
      <if test="surveyTitle != null">
        survey_title = #{surveyTitle,jdbcType=VARCHAR},
      </if>
      <if test="surveyDes != null">
        survey_des = #{surveyDes,jdbcType=VARCHAR},
      </if>
      <if test="nowPeopleNum != null">
        now_people_num = #{nowPeopleNum,jdbcType=BIGINT},
      </if>
      <if test="isModel != null">
        is_model = #{isModel,jdbcType=BOOLEAN},
      </if>
      <if test="assessId != null">
        assess_id = #{assessId,jdbcType=BIGINT},
      </if>
      <if test="planId != null">
        plan_id = #{planId,jdbcType=BIGINT},
      </if>
      <if test="modelid != null">
        modelId = #{modelid,jdbcType=VARCHAR},
      </if>
      <if test="isexist != null">
        isExist = #{isexist,jdbcType=BOOLEAN},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="hci.dky.pojo.SurveyLibrary">
    update survey_library
    set survey_title = #{surveyTitle,jdbcType=VARCHAR},
      survey_des = #{surveyDes,jdbcType=VARCHAR},
      now_people_num = #{nowPeopleNum,jdbcType=BIGINT},
      is_model = #{isModel,jdbcType=BOOLEAN},
      assess_id = #{assessId,jdbcType=BIGINT},
      plan_id = #{planId,jdbcType=BIGINT},
      modelId = #{modelid,jdbcType=VARCHAR},
      isExist = #{isexist,jdbcType=BOOLEAN}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>